* {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  min-width: 100vh;
}

body {
  background-color: white;
  font-family: "DM Sans", sans-serif;
  font-size: smaller;
}

/* NAVBAR */
.nav {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 1rem 4rem;
  gap: 2rem;
  color: #ffff;
  background-color: rgb(1, 20, 82);
  text-decoration: none !important;
  font-family: "DM Sans", sans-serif;
  font-size: 2rem;
  height: fit-content;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.deeder {
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-family: "Pacifico", cursive;
  font-weight: bold;
  font-size: 60px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  color: #ffff;
  gap: 2rem;
}

@media only screen and (max-width: 500px) {
  .nav-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffff;
    gap: 2rem;
    font-size: 16px;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 800px) {
  .nav-items {
    display: flex;

    justify-content: space-between;
    color: #ffff;
    gap: 2rem;
    font-size: 24px;
  }
}

.nav-link {
  text-decoration: none;
}

img {
  height: 20%;
  width: 20%;
}

.signup-container {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  height: 600px;
  padding-top: 100px;
  background-color: white;
}

.garden {
  height: 400px;
  width: 500px;
  margin-right: 100px;
}

.bicycle {
  height: 400px;
  width: 550px;
  margin-top: 20px;
  margin-left: 100px;
}

.sign-in {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

label {
  font-family: "DM Sans", sans-serif;

  font-weight: bolder;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border-radius: 10px;
  margin: 9px;
  border: 1px solid;
}

label,
input {
  display: flex;
}

.get-btn {
  width: 30%;
  cursor: pointer;
  margin: 8px 0;
  background-color: rgb(10, 29, 92);
  color: aliceblue;
  font-family: "DM Sans", sans-serif;
  font-weight: bolder;
  height: 50px;
  border-radius: 10px;
}

.search-button {
  width: 30%;
  cursor: pointer;
  margin: 8px 0;
  background-color: rgb(10, 29, 92);
  color: aliceblue;
  font-family: "DM Sans", sans-serif;
  font-weight: bolder;
  height: 50px;
  border-radius: 10px;
}
.nav-link:hover {
  opacity: 0.9;
}

button:hover {
  opacity: 0.9;
  color: orange;
}
.alert {
  color: red;
  font-size: smaller;
}

/* HERO SECTION */

.hero {
  height: 80vh;
  background-image: url("/public/Images/Fists.jpg");
  background-size: cover;
  color: white;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}
.slogan {
  margin: 50px;
  padding: 50px;
  padding-right: 100px;
  font-family: "DM Sans", sans-serif;
  font-size: clamp(2rem, 3.5vw, 4rem);
}

@media only screen and (max-width: 400px) {
  .slogan p {
    visibility: hidden;
  }
}

/* ABOUT */
.about-container {
  min-height: 20rem;
  width: auto;
  background-color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.heading {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  margin-top: 100px;
}

.welcome-text-container {
  margin-top: 60px;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  margin-right: 80px;
}

.welcome-text {
  border: 1 px solid rgb(1, 20, 82);
  padding-top: 100px;
  color: black;
  font-size: clamp(1rem, 2.5vw, 2rem);
  margin-right: 10px;
}

.helpers-img img {
  height: 100%;
  width: 100%;
}

.action {
  margin: 20px;
  padding: 10px;
}

.action > p {
  font-size: 40px;
}

img {
  height: auto;
  width: 40%;
}

/* CARDS */

.grid-container {
  background-color: rgb(223, 223, 223);
  height: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  padding: 0px 200px;
  padding-bottom: 100px;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}

.how-it-works {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: rgb(223, 223, 223);
}

.card-img-top {
  width: 50%;
  height: 270px;
  padding: 1.5rem;
  object-fit: fill;
}

.card-title {
  font-weight: bold;
}

.try {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 1rem;
  border-radius: 20px;
  min-height: 500px;
  max-width: 20rem;
  box-shadow: 2px 3px 4px #888888;
  overflow: scroll;
}

.card-body {
  padding-bottom: 5px;
}

/* MAIN BODY */

.main-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 5px;
  margin: 25px 100px 25px 100px;
  background-color: rgb(227, 228, 230);
  font-family: "DM Sans", sans-serif;
  color: white;
}
.main-body > a {
  border: 1px solid;
  text-align: center;
  padding: 20px 20px;
  font-size: 1.5rem;
  height: auto;
  width: 20rem;
  border-radius: 1.2rem;
  text-decoration: none;
  color: white;
}

.two-buttons > a {
  border: 1px solid;
  text-align: center;
  padding: 20px 20px;
  font-size: 30px;
  height: 110px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
}

.action {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  margin-top: 50px;
}

.action-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: white;
  margin-bottom: 50px;
}
.offer-help:hover,
.get-help:hover,
.offer-company:hover,
.get-company:hover {
  transform: scale(1.01);
  transition: 0.3s;
  box-shadow: 2px 2px;
  color: orange;
}

.offer-help {
  background-color: rgb(1, 20, 82);
  background-repeat: no-repeat;
}

.what-to-do {
  height: 800px;
}
.get-help {
  background-color: rgb(1, 20, 82);
  align-content: center;
}

.offer-company {
  background-color: rgb(1, 20, 82);
}

.get-company {
  background-color: rgb(1, 20, 82);
}

/* .app-icons {
  background-color: orange;
} */

/* CATEGORIES */

.categories {
  background-color: rgb(223, 223, 223);
  height: auto;
}

.browse {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  padding-top: 50px;
}

.offer {
  display: flex;
  justify-content: center;
}

textarea {
  height: 200px;
  width: 500px;
}

.about-me {
  display: flex;
  align-items: flex-start;
}

.category-button {
  padding: 0.5rem;
  border: none;
  height: 4rem;
  width: 10rem;
  border-radius: 1rem;
  border: 2px solid rgb(1, 20, 82);
  background-color: rgb(1, 20, 82);
  color: white;
  cursor: pointer;
  box-shadow: 5px 10px 8px #888888;
}

.category-button:hover {
  background: rgb(226, 230, 245);
  border: rgb(226, 230, 245);
  color: rgb(1, 20, 82);
}

/* DOWNLOAD APP SECTION */
.app-icons {
  font-size: 40px;
  font-family: "Pacifico", cursive;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* FOOTER */

.footer-container {
  background-color: rgb(1, 20, 82);
}

.main-footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 25px;
  padding-bottom: 20px;
}

.main-footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.mid-footer a:hover,
.left-footer a:hover {
  opacity: 0.7;
  color: orange;
}

.left-footer,
.mid-footer,
.social-media-icons {
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  color: orange;
  align-items: flex-start;
}
.last-footer {
  color: white;
  background-color: rgb(1, 20, 82);
}
.footer-logo {
  height: 170px;
  width: 150px;
  margin-top: 20px;
}

.fa:hover {
  opacity: 0.7;
  font-size: 30px;
  width: 50px;
  color: orange;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.copyright {
  color: white;
  padding: 25px 0px 30px 0px;
  border-top: 0.2rem dotted white;
}

/* PROFILE */
.request-body {
  display: flex;
  justify-content: space-around;
  margin: 30px 50px 30px 50px;
}

.request-body p {
  font-weight: bolder;
}

textarea {
  border: 2px solid;
  border-radius: 7px;
  height: 300px;
}

select {
  border: 2px solid;
  width: auto;
  border-radius: 5px;
  max-height: 50px;
}

.submit-section {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0rem;
}

/* ALL POSTS = POSTS RENDERED LIST*/

.result-container {
  background-color: rgb(223, 223, 223);
  
}

.post-and-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.hearts {
  width: 100%;
  height: 15vh;
  padding: 20px;
}

.one-post {
  border: 1px solid white;
  background-color: white;
  font-size: medium;
  font-family: "DM Sans", sans-serif;
  box-shadow: 2px 3px 4px #888888;
  padding: 1rem;
  overflow: scroll;
  width: 1000px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.one-post:hover {
  background: rgb(226, 230, 245);
  border: rgb(226, 230, 245);
  cursor: pointer;

}

.hearts:hover {
  border: rgb(226, 230, 245);
  cursor: pointer;
}

.post-info {
  height: 10rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
  font-weight: bolder;
  border-right: 1px solid black;;
}


}

.post-description {
  height: 10rem;
  width: 40rem;
  padding: 2rem;
  text-align: left;
}

/* FILTER */
.filter-container {
  height: 10rem;
  background: rgb(223, 223, 223);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.filter-button {
  padding: 0.5rem;
  border: none;
  height: 3rem;
  width: 20rem;
  border-radius: 1rem;
  border: 2px solid rgb(1, 20, 82);
  background-color: rgb(1, 20, 82);
  color: white;
  cursor: pointer;
  box-shadow: 5px 10px 8px #888888;
}

.filter-button:hover {
  background: white;
  border: 1px solid rgb(1, 20, 82);
  color: rgb(1, 20, 82);
}

.animate__animated.animate__bounce {
  display: flex;

  align-items: center;

  justify-content: center;
  --animate-duration: 2s;
  animation-iteration-count: infinite;
  height: 400px;
}

.thanks-entry {

  display: flex;
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  padding-bottom: 55px;
  align-items: center;


  justify-content: center;
}
.heart-logo {

  height: 95px;
  width: 100px;
}
