* {
  text-align: center;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(247, 248, 250);

}

.nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 1rem 4rem;
  gap: 2rem;
  color: #ffff;
  background-color: rgb(1, 20, 82);
  text-decoration: none !important;
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.deeder {
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  font-size: 40px;
}

.nav-items {
  display: flex;
  justify-content: space-between; 
  color: #ffff;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
}

img {
  height: 20%;
  width: 20%;
}

.signup-container {
  display: flex;
  margin-top:50px;
  justify-content: center;
}

/*.signup-form {
  display: flex;
  flex-direction: column;
}*/


.sign-in{
  display: flex;
  margin-top:50px;
  justify-content: center;

}


label{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

input[type=email], input[type=password], input[type=text] {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border-radius: 10px; 
  margin: 9px ;
  border:1px solid;
}

label, input{
display: flex;
}

button{
  width: 30%;
  cursor: pointer;
  margin: 8px 0;
  background-color: rgb(10, 29, 92);
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  height: 50px;
  border-radius: 10px;
 
}

button:hover {
    opacity: 0.9;
    color: orange;
   
}
.alert{
  color:red;
  font-size: smaller;
}

